// (you must have jquery in your site for this to work)
// 1 step : Type your heading
// 2 step : In your heading select a word where you want the text to be typed and add a span
// 3 step : Add to this span the class 'typed-words'
// 4 step : Add a div below this heading and add the class 'typed-wordings'
// 5 step : In this div add as much text block as you want words too be typed
// ( the magic happens here, since this is texts block in the page it will be translated by weglot )
// ( then the following script will inject the translated words into typed )
// 6 step : copy and past this code in the page after /body custom code
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
<script>
  $(document).ready(function(){
  	// Get all the already translated words
    var $translatedWords = $('.typed-wordings').find('div')
    var arrayForTyped = [];
    
    $translatedWords.each(function(index) {	
        arrayForTyped.push($(this).text());
    });
    
    var typed = new Typed(".typed-words", {
      strings: arrayForTyped,
      typeSpeed: 99,
      backSpeed: 95,
      backDelay: 2000,
      startDelay: 400,
      loop: true,
      showCursor: false,
      cursorChar: "|",
      attr: null
    });
  });
</script>
