<!-- JQUERY Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JQUERY Script -->
<script>
    $(document).ready(function(){
        /*
            Step 1 : change le select dans gtranslateCode dans le javascript
            Step 2 : ajouter un dropdown dans chaque menu sur webflow
            Step 3 : ajouter la class lang-dropdown sur les dropdowns toggle + ajouter un attribute ex : data-lang-callback="fr"
            Step 4 : dans ces dropdowns toggle ajouter une class first-lang sur la div text
            Step 5 : Supprimer les dropdown link dans la liste
            Step 6 : ajouter des link block par langue désiré + ajouter un attribute ex: data-lang="fr|en"
            Step 7 : ajouter le contenu par langue dans le link block (image, text whatever)
        */
        var gtranslateCode = '<select onchange="doGTranslate(this);"><option value="">FR</option><option value="fr|en">EN</option><option value="fr|nl">NL</option><option value="fr|fr">FR</option><option value="fr|de">DE</option><option value="fr|it">IT</option><option value="fr|es">SP</option></select>';
        $('body').append('<div id="gtranslator" style="display:none;">'+ gtranslateCode +'</div>');
        var $dropdowns = $(".lang-dropdown");
        var $translator = $('#gtranslator').find('select');
        if($dropdowns.length > 0 && $translator.length > 0){
          
          var langCode = window.location.host.split('.')[1] ? window.location.host.split('.')[0] : false;
          
          $dropdowns.each(function(index, value) {
            var $dropdown = $(value);
            
            var callbackLang = $dropdown.data('callback-lang');
            var $list = $dropdown.siblings(".w-dropdown-list").first();
            
            $list.find('.dropdown-link').each(function(index, value) {
            
                var langData = $(value).data('lang');
                if(langCode.length > 2){
                    if(langData == callbackLang + '|' + callbackLang){
                        var content = $(value).html();
                        $dropdown.find('.first-lang').html(content);
                        $(value).hide();
                    }
                }else{
                    if(langData.includes('|'+langCode)){
                        var content = $(value).html();
                        $dropdown.find('.first-lang').html(content);
                        $(value).hide();
                    }
                }        
            });
        
            $list.find('.dropdown-link').on('click', function(){
                var langValue = $(this).data('lang');
                doGTranslate(langValue);
                $translator.val(langValue).trigger('click');
            });
          });
        }
    });
</script>